---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Como fazer:] Publicar e analisar os resultados de teste? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System permite alterações de gráfico na qualidade do código do projeto como o projeto em andamento. Este vídeo fornece instruções sobre como publ....
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: be3ff525ae5010e3df9f5e33c2c9b5c4f3701226
ms.sourcegitcommit: f8852267f463b62d7f975e56bea9aa3f68fbbdeb
ms.translationtype: MT
ms.contentlocale: pt-BR
ms.lasthandoff: 04/06/2018
ms.locfileid: "30894890"
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[Como fazer:] Publicar e analisar os resultados de teste?
====================
por [Carlos Menegay](https://twitter.com/CMenegay)

Visual Studio Team System permite alterações de gráfico na qualidade do código do projeto como o projeto em andamento. Este vídeo fornece instruções sobre como publicar resultados de teste para o banco de dados de projeto do Team Foundation Server e associar os resultados com um número de compilação. Podemos ver que depois que os resultados são publicados podemos usar o Gerenciador de relatórios para exibir uma representação gráfica das alterações em nossos resultados de teste de compilação.

[&#9654;Assista ao vídeo (7 minutos)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Anterior](how-do-i-use-generic-tests.md)
> [Próximo](how-do-i-discover-application-changes-prior-to-deployment.md)
