---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Como fazer:] Publicar e analisar resultados de teste? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System permite que você as alterações do gráfico na qualidade do código do projeto conforme o andamento do projeto. Este vídeo fornece instruções sobre como publ....
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 2beeac7c4d8157787a156af03a42f9c1f7dbbd17
ms.sourcegitcommit: 953ff9ea4369f154d6fd0239599279ddd3280009
ms.translationtype: MT
ms.contentlocale: pt-BR
ms.lasthandoff: 07/03/2018
ms.locfileid: "37379509"
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[Como fazer:] Publicar e analisar resultados de teste?
====================
por [Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System permite que você as alterações do gráfico na qualidade do código do projeto conforme o andamento do projeto. Este vídeo fornece instruções sobre como publicar resultados de teste para o banco de dados de projeto do Team Foundation Server e associar os resultados com um número de compilação. Podemos ver que depois que os resultados são publicados podemos usar o Gerenciador de relatórios para exibir uma representação gráfica das alterações em nossos resultados de teste de compilação.

[&#9654;Assista ao vídeo (7 minutos)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Anterior](how-do-i-use-generic-tests.md)
> [Próximo](how-do-i-discover-application-changes-prior-to-deployment.md)
